.plots-product-card {
  row-gap: 0.2em;
  border-radius: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;

  .title {
    background: #0cb346;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .body {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;

    label {
      column-gap: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        background: #d2d96c;
      }
    }

    .top-side-bar {
      display: flex;
      justify-content: flex-end;

      .owner {
        font-size: 0.8em;
        background: rgba(12, 123, 179, 0.55);
        padding: 0.5em;
        border-radius: 0.4em;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        > label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .avatar {
            padding: 0.5em;
            border-radius: 50%;
            background: #6558cc;
            border: 0.2em solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            font-size: 0.8em;

            > img {
              width: 3em;
            }

            > p {
              background: white;
              position: absolute;
              bottom: -1.4em;
              display: none;
            }

            &:hover > p {
              display: inline-block;
            }
          }
        }
      }
    }

    .content {
      padding: 0.5em;
      row-gap: 1em;
      display: flex;
      flex-direction: column;

      .description {
        max-height: 9em;
        padding: 0.7em;
        border-radius: 1em;
        background: rgba(76, 171, 140, 0.65);
        border: 0.2em double #15b3ee;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-y: scroll;
      }
    }
  }
  .actions {
    background: #00ff3c;
    padding: 0.5em;
    column-gap: 1em;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;

    button {
      width: 7em;
      font-size: 0.8em;
    }
  }
}
