@import "ui/list";

:root {
  --messages-list-width: 10em;
  --animation-messages-duration: 150ms;
  --animation-messages-item-duration: 300ms;
}

.messages-back {
  $messages-list-width: 20em;
  $logs-img-open-height: 3em;

  *::-webkit-scrollbar {
    display: none;
  }

  .notices {
    > .messages-block {
      z-index: 1001;
      min-height: 0;
      top: 15em;
      position: absolute;
      width: $messages-list-width;
      right: 0;
    }
  }

  .logs {
    top: 10em;
    right: -$messages-list-width;
    display: flex;
    align-items: flex-start;
    position: absolute;

    > .messages-block {
      padding: 0.5em;
      width: $messages-list-width;
      background: rgb(227, 183, 128);
    }

    //Анимация
    & {
      &.logs-block-enter-active {
        right: 0em;
        transition: all var(--animation-messages-duration);
      }

      &.logs-block-enter-done {
        right: 0em;
      }

      &.logs-block-exit {
        right: 0em;
      }

      &.logs-block-exit-active {
        right: -$messages-list-width;
        transition: all var(--animation-messages-duration);
      }

      &.logs-block-exit-done {
        right: -$messages-list-width;
      }
    }

    > img {
      height: $logs-img-open-height;
      padding: 0.2em;
      opacity: 0.4;
      $border-radius: 0.4em;
      border-radius: 0 $border-radius $border-radius 0;
      transform: scaleX(-1);
      background: rgb(14, 255, 255);
      box-sizing: border-box;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        border-radius: $border-radius 0 0 $border-radius;
        transform: scaleX(1);
      }
    }


  }
}


