.user-menu {
  position: absolute;
  right: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1.2em;
  border-radius: 0 0 0 1.7em;
  background: rgba(155, 145, 145, 0.6);

  > li {
    user-select: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 0.9em;
    padding: 0.4em;
    border-radius: 0.3em;
    border: 0.12em black solid;
  }
}
