.select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.select > span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-list {
    gap: 0.3em;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    display: flex;
    position: absolute;
}

/*Направления*/
.select-list.column {
    height: 100%;
    padding-inline: 0.5em;
    flex-direction: row;
}

.select-list.column.left {
    left: 100%;
}

.select-list.column.right {
    right: 100%;
}

.select-list.row {
    width: 100%;
    padding-block: 0.5em;
    flex-direction: column;
}

.select-list.row.right {
    bottom: 100%;
}

.select-list.row.left {
    top: 100%;
}

/**/

.select.active .select-list {
    opacity: 1;
    visibility: inherit;
}

.select:hover > .select-list {
    opacity: 1;
    visibility: inherit;
    transition: opacity 200ms;
}

.select-list > li {
    width: 60%;
    padding: 0.2em;
    border-radius: 0.3em;
    aspect-ratio: 4/1;
    background: #c6e1cb;
    list-style-type: none;
    text-align: center;
}

.select-list > li:hover {
    background: #00ff3c;
}

.select-list > li.active {
    background: #055218;
}