@import "ui/help.scss";
@import "ui/planet";
@import "ui/plots";

.store-panels-info {
    max-width: 15em;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: text;
}


