@import "store/store";
@import "app messages/message";
@import "head/head";

.App {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  $height: 80px;

  > .head-back {

    > .head {
      height: $height;
    }
  }

  > .store {
    height: calc(100vh - $height);
  }

  &.fullscreen {
    > .head-back {
      > .head {
        display: none;
        height: 0;
      }
    }

    > .store {
      height: 100vh;
    }
  }

  .head-back {
    .head {
      z-index: 100;
    }

    .user-menu {
      z-index: 99;
    }

    .form.sign, .form.registration {
      z-index: 99;
    }


  }

  .modal-back {
    z-index: 98;
  }

  .messages-back {
    .logs {
      z-index: 100;
    }

    .notices {
      z-index: 100;
    }
  }

  .store {

  }

}