@import "headAnimations";
@import "authForms";
@import "modals/modals";
@import "user/userHead";
@import "user/userMenu";

.head-back {
  > .head {
    position: relative;
    background: linear-gradient(80deg, #b5a4c5, #c0a6e7);
    padding: 1em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    > .home {
      font-size: 1.6em;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial;
      color: #50606e;
      -webkit-text-stroke: 0.04em #0a1f2c;
    }

    .selectable {
      cursor: pointer;
    }

    .selectable:hover {
      transform: scale(1.05);
      transition: all ease 300ms;
    }

    > .sign {
      background: rgba(243, 243, 181, 0.68);
      font-size: 1.1em;
      border: 0.1em solid black;
      padding: 0.5em 1em;
      border-radius: 2em;
    }
  }
}
