:root {
    --animation-duration-head: 400ms;
}

/*Хэдэр окна*/
.head-animation-window-enter {
    transform: translateY(-100%);
    transform-origin: top;
}

.head-animation-window-enter-active {
    transform: translateY(0%);
    transition: transform var(--animation-duration-head);
}

.head-animation-window-exit-active {
    transform: translateY(-100%);
    transition: transform var(--animation-duration-head);
}
