.modal-content-avatars {
  $padding: 0.5em;
  $width: 4.5em;
  $padding: 0.8em;
  $count-x: 5;
  $count-y: 2;

  width: calc($count-x * ($width + $padding) - $padding);
  max-height: calc($count-y * ($width + $padding) - $padding);
  padding: $padding;
  background: #bd9f9f;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  column-gap: $padding;
  row-gap: $padding;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > img {
    width: $width;
    padding: $padding;
    box-sizing: border-box;
    background: #0a4b78;
    border-radius: 0.4em;

    &:hover {
      transform: scale(1.1);
      padding: 0;;
      transition: transform 500ms, padding 500ms;
    }

    &.active {
      background: red;
    }
  }

  > .form.update {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em;
    align-self: flex-end;
  }
}

