.store-panels-planets {
  row-gap: 0.7em;
  font-size: 1em;
  padding-inline: 0.6em;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  height: 35em;


  > .list-block{
    align-items: flex-end;

    > .search {
      border-radius: 0.4em;
      padding: 0.5em;
      border: 0;
      outline: none;
      text-align: right;
      font-size: inherit;
      pointer-events: auto;
    }

    > .list {
      pointer-events: auto;
      padding: 0.8em;
      row-gap: 0.9em;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      align-items: flex-end;
      overflow-y: scroll;

      > li {
        pointer-events: auto;
        cursor: pointer;
        font-size: 1em;
        $border-radius: 0.8em;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;

        > .scene {
          background: rgba(91, 72, 72, 0.42);
          aspect-ratio: 1/1;
          max-height: 3em;
        }

        > span {
          padding: 0.5em;
        }

        &.active {
          $margin-right: 1.9em;
          margin-right: $margin-right;
          transform: scale(1.1);
          transition: all 200ms;
          position: relative;

          &::before {
            content: '';
            z-index: -1;
            border-radius: $border-radius;
            position: absolute;
            $padding: 0.4em;
            height: calc(100% + ( $padding * 2));
            width: calc(100% + $margin-right + $padding);
            right: -1.8em;

            left: auto;
            background-color: rgba(255, 0, 0, 0.53);
          }
        }
      }
    }
  }
}