.sale-state {
  width: 100%;
  column-gap: 0.5em;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;


  > .indicator {
    font-size: 1em;
    display: flex;
    height: 1.8em;
    aspect-ratio: 1/1;
    background: #ff2f2f;
    border-radius: 50%;

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      background: greenyellow;
    }

    > .waiting {
      width: 100%;
      height: 100%;
    }
  }
}