@import "ui/range";
@import "ui/button";
@import "ui/selector";

.store-panels-actions {
  display: flex;
  pointer-events: auto;
  position: relative;

  &.top {
    height: 2.8em;
  }

  &.bottom {
    height: 2.5em;
  }

  .action-list {
    gap: 0.5em;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;

    &.row {
      flex-direction: row;
    }

    &.column {
      flex-direction: column;
    }

    &.row.right > .action > .action-list {
      bottom: 100%;
      padding-bottom: 0.5em;
    }

    &.row.left > .action > .action-list {
      top: 100%;
      padding-top: 0.5em;
    }

    &.column.right > .action > .action-list {
      right: 100%;
      padding-right: 0.5em;
    }

    &.column.left > .action > .action-list {
      left: 100%;
      padding-left: 0.5em;
    }

    .action {
      aspect-ratio: 1/1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        z-index: 100;

        & > .action-list {
          opacity: 1;
          visibility: visible;
          transition: all 250ms;
        }
      }

      .action-element:hover + .action-description {
        visibility: visible;
      }

      .hovered-element {
        height: 100%;
        width: 100%;

        > .action-element {
          aspect-ratio: 1/1;
          padding: 0.4em;
          background: #34aebb;
          border-radius: 50%;
          box-sizing: border-box;

          &.active {
            background: #bb3636;
          }

          &.select {
            span {
              font-weight: bold;
              font-size: 1.3em;
            }
          }
        }
      }

    }
  }

  & > .action-list {
    gap: 1em;
    position: static;
    opacity: 1;
    visibility: visible;
  }
}

.action-list.row > .action {
  > .action-list {
    width: 100%;
  }

  > div > div > .action-element {
    height: 100%;
  }
}

.action-list.column > .action {
  > .action-list {
    height: 100%;
  }

  > div > div > .action-element {
    width: 100%;
  }
}


