.basket {
  font-size: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    padding: 0.3em;
    width: 4em;
    border-radius: 0.5em;
    box-sizing: border-box;

    &.active {
      background: rgba(227, 189, 158, 0.89);
    }
  }

  .waiting {
    font-size: 1.1em;
    position: absolute;
  }
}